@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Pacifico&family=Pirata+One&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  

body {
    background: #3e393c;
    
}

    select {
        padding: 10px;
        margin: 0 10px;
        background-color: #3e393c;
        border: none;
        color: #979797;
        font-size: 15px;
        font-family: "Rowdies", serif;
        transition: 0.3s ease-in-out;

    }

    select:hover {
        transform: scale(1.1)
    }

    select:hover {
      color: rgb(218, 125, 255);
    }

      nav{
        width: 100%;
        padding: 12px 0;
        position: fixed;
        top: 0;
        margin: 0;
        background: #3e393c;
        border: 1px solid #585858;;
        z-index: 999;

      }
      nav .menu{
        max-width: 1270px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .menu .logo a{
        font-size: 50px;
        font-weight: 600;
        text-decoration: none;
        color: orange;
        font-family: "Charm", cursive;
        
      }

      .logo a:hover{
        transform: scale(1.1);
      }


      .menu ul{
        list-style: none;
        display: flex;
        font-family: "Charm", cursive;
      }

      
      .menu ul a{
        margin:0 8px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        font-weight: 400;
        display: inline-flex;
        padding: 10px 12px;
        position: relative;
        transition: all 0.3s ease;
      }
      .menu ul a:hover:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

      }
      .center{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .upper{
        font-size: 40px;
        font-weight: 600;
        color: white;
      }
      .lower{
        font-size: 40px;
        font-weight: 600;
        color: rgb(88, 84, 84);
      }
      .menu ul a:hover{
        color: rgb(255, 210, 125);
      }
      nav label.btn{
        color: white;
        font-size: 18px;
        cursor: pointer;
        display: none;
      }
      nav label.cancel{
        position: absolute;
        top: 25px;
        right: 30px;
      }
      #check{
        display: none;
      }
      @media (max-width:940px) {
        .menu ul{
          display: block;
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          max-width: 400px;
          padding-top: 45px;
          height: 600px;
          background: #252525;
          box-shadow: 0 5px 10px #a7a5a6;
          z-index: 12;
          transition: all 0.3s ease;
        }
        .menu ul a{
         display: block;
         font-size: 23px;
         width: 100%;
         margin-top: 30px;
         box-shadow: none;
         text-align: center;
        }
        .menu ul a:hover:before{
          box-shadow: none;
        }
        nav label.bars{
          display: block;
        }
        #check:checked ~ label.bars{
          display: none;
        }
        #check:checked ~ ul label.cancel{
          display: block;
        }
        #check:checked ~ ul{
          left: 0;
        }
      }


/* nav */

/* Welcome */
.banner-info {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 900px;
    background-color: #3e393c;
    justify-content: center;
    align-items: center;
    }


    .greetings{
      font-weight: 900;
      color: white;
      font-size: 150px;
      position: absolute;
      font-family: "Charm", cursive;
      filter: blur(1px);
      transition: 0.6s ease-in-out;
  }
  .greetings:hover {
    transform: scale(1.1)
  }
  .greetings > span{
      animation: glow 2.5s ease-in-out infinite;
  }
  @keyframes glow{
      0%, 100%{
          color: rgb(255, 215, 154);
          text-shadow: 0 0 12px #d68d39, 0 0 50px #d69539, 0 0 100px #d69539;
      }
      10%, 90%{
          color: #fff;
          text-shadow: none;
      }
  }
  .greetings > span:nth-child(2){
      animation-delay: .4s ;
  }
  .greetings > span:nth-child(3){
      animation-delay: .6s ;
  }
  .greetings > span:nth-child(4){
      animation-delay: .8s;
  }

    .banner-info img {
        width: 100%;
        height: 500px;
        top: 50%;
        box-shadow: 0 0 12px #000000, 0 0 50px #000000, 0 0 100px #42413f;
        transition: 0.6s ease-in-out;
    }

    .banner-info img:hover {
      transform: scale(1.1)
    }
/* Welcome */


/* khwae-om */
.content {
    display: grid;
    padding: 100px;
    margin: 0 50px;
    height: 1200px;
    position: relative;
    font-family: "Charm", cursive;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2rem;

    }


    .content_left img {
        height: 100%;
        width: 100%;
        border: 1px solid #ffffff;
        box-shadow: 0 0 12px #000000, 0 0 50px #383838, 0 0 100px #4e4c4c;
        border-radius: 50%;
        filter: grayscale(0.9);
        transition: 0.6s;
    }

    .content_left img:hover {
        filter: grayscale(0);
        transform: scale(1.2) rotate(3deg);
    }

    .content_right h1 {
      margin: 0 100px;
      padding: 0;
      color: orange;
      font-size: 40px;
      font-family: "Charm", cursive;
    }
    .content_right p {
        padding: 30px;
        font-size: 20px
    }
    .content_right {
      margin: 120px 0;
      color: #ffffff;

    }
/* khwae-om */

/* Map */
.con-info {
    display: grid;
    padding: 0 100px;
    margin: 0 auto;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 2rem;
    height: 1200px;
    font-family: "Charm", cursive;
    
    }

    .con-info h1 {
        font-size: 50px;
        color: orange;
        font-family: "Charm", cursive;
    }

    .con-info h2 {
      text-align: center;
      color: #6b6b6b;
      padding: 50px 0;
      font-size: 60px;
      transition: 0.6s;
    }

    .con-info h2:hover {
      color: white;
    }

    iframe {
        border-radius: 5%;
        display: inline-block;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 12px #adacaa, 0 0 50px #646463, 0 0 100px #000000;
    }

    iframe:hover {
        transform: scale(1.1);
    }

/* Map */


/* Temple */
.title {
    margin: 0 auto;
    padding: 100px;
    font-size: 40px;
    color: orange;
    font-family: "Charm", cursive;
}

.con {
    display: grid;
    padding: 0 100px;
    margin: 0 auto;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2rem;
    height: auto;
    font-family: "Charm", cursive;
}

    .con_item {
        background: #3b3838;
        border: 1px solid #7c7c7c;
        border-radius: 3px;
        box-shadow: 0 0 12px #000000, 0 0 50px #464646, 0 0 50px #5a5a5a;
        text-align: center;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        cursor: pointer;
    }

    .con_item:hover {
        transform: scale(1.1);
        opacity: 1;
  }

    .con_item img {
        width: 100%;
        height: 300px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
        background-color: #ffffff;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 12px #000000, 0 0 50px #464646, 0 0 50px #5a5a5a;
        opacity: 0.7;
    }

    .con_item img:hover {
        transform: scale(1.05);
        opacity: 1;
    }

    .text_t {
        padding: 5px;
        margin: 5px auto;
        font-size: 40px;
        color: #aaa8a8;
        font-family: "Charm", cursive;
        transition: 0.3s ;
        
    }

    .text_t:hover {
      color: white;   
  }


    .con_btn {
        font-weight: bold;
        margin: 15px;
        font-size: 20px;
        color: rgb(131, 92, 51);
        background-color: rgb(192, 186, 186);
        text-decoration: none;
        border: 2px solid rgb(139, 139, 139);
        border-radius: 10px;
        display: inline-block;
        padding: 8px 25px;
    }

    .con_btn:hover{
        letter-spacing: 1px;
        background-color: white;
        color: orange;    
    }
    
    .con_btn:hover{
        box-shadow: 0 10px 15px rgba(0,0,0,.3);
        transform: scale(1.03);
    }
/* Temple */

/* About */
.con_about {
  display: grid;
  padding: 0;
  margin: 0 200px;
  height: 1500px;
  position: relative;
  font-family: "Charm", cursive;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem;

  }

  .item {
    text-align: center;
    padding: 15px 15px;
}

.item img {
    margin: 10px 0;
    width: 100%;
    height: 600px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 12px #000000, 0 0 50px #464646, 0 0 50px #5a5a5a;
    opacity: 0.7;
}

.item img:hover {
  transform: scale(1.1) rotate(5deg);
  opacity: 1;
}

.aboutadvisor {
  padding: 50px 0;
  color: orange;
  font-size: 60px;
  font-family: "Charm", cursive;
}

.aboutme {
  padding: 50px 0;
  color: orange;
  font-size: 60px;
  font-family: "Charm", cursive;
}

  .item h3 {
    text-align: center;
    color: #6b6b6b;
    padding: 0 0;
    font-size: 40px;
    transition: 0.6s;
  }

  .item h3:hover {
    color: white;
  }

/* About */


/* Scroll Top */
#btntop{
    background: white;
    display: none;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 12px #000000, 0 0 50px #383838, 0 0 100px #4e4c4c;
    transition: 0.3s ease-in-out;
    
  }

  #btntop:hover {
    z-index: 999;
    transform: scale(1.1);
    opacity: 1;
}

#btntop i {
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: orange;
    font-size: 22px;
}

/* Scroll Top */